@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                <div class="d-flex flex-column">
                    <img class="img-fluid rounded w-75 align-self-end" src="~/img/about-1.jpg" alt="">
                    <img class="img-fluid rounded w-50 bg-white pt-3 pe-3" src="~/img/about-2.jpg" alt="" style="margin-top: -25%;">
                </div>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <p class="d-inline-block border rounded-pill py-1 px-4">About Us</p>
                <h1 class="mb-4">Why You Should Trust Us? Get Know About Us!</h1>
                <p>At HealthPal, we're dedicated to earning your trust every step of the way. Quality is our top priority. From the information we provide to the services we deliver, we uphold the highest standards to ensure your experience with HealthPal is nothing short of exceptional.</p>
                <p class="mb-4">Your needs are our focus. We've designed our platform with you in mind, aiming to simplify your healthcare journey and empower you to make informed decisions about your health and well-being.Here's why we're confident you can count on us.</p>
                <p><i class="far fa-check-circle text-primary me-3"></i>Quality health care</p>
                <p><i class="far fa-check-circle text-primary me-3"></i>Only Qualified Doctors</p>
                <p><i class="far fa-check-circle text-primary me-3"></i>Privacy & Security</p>
                @* <a class="btn btn-primary rounded-pill py-3 px-5 mt-3" href="">Read More</a> *@
            </div>
        </div>
    </div>
</div>

