@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using System.Security.Claims
@{
   var UserId= User.FindFirstValue(ClaimTypes.NameIdentifier);
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"] - Your Application Name</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <!-- Add any other CSS files or stylesheets here -->
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <a class="navbar-brand" href="#">HealthPal</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="~/Clinic/GetDoctorClinics?D_id=@UserId">MY Clinics</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/Clinic/GetDoctorAppointments?D_id=@UserId">My Appointments</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/identity/Account/logout">Log Out</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <!-- Add any other JavaScript files or scripts here -->
</body>
</html>
