@model HealthPal.Models.Clinic

@{
    ViewData["Title"] = "EditClinic";
}

<h1>EditClinic</h1>
<h4>Clinic</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditClinic" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageFile" class="control-label"></label>
                <input asp-for="ImageFile" type="file" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <input asp-for="Latitude" id="Latitude" hidden />
            <input asp-for="Longitude" id="Longitude" hidden />
            <div class="form-group">
                <input type="submit" value="Edit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div id="map" style="height:400px;width:700px;margin:auto"></div>
<div>
    <a asp-action="GetAllClinics">Back to List</a>
</div>
<script>
    
        var map;
        function initMap() {
            var latitude = @Html.Raw(Json.Serialize(Model.Latitude));
            var longitude = @Html.Raw(Json.Serialize(Model.Longitude));
            var myCenter = new google.maps.LatLng(latitude, longitude);
            var mapProp = { center: myCenter, zoom: 16, scrollwheel: false, draggable: true, mapTypeId: google.maps.MapTypeId.ROADMAP };
            map = new google.maps.Map(document.getElementById("map"), mapProp);
            var marker = new google.maps.Marker({ position: myCenter });
            marker.setMap(map);
        }
</script>
    }

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBicErnm5MQhQ9TEC8PHfQoBxQZEdv7v40&callback=initMap" async defer></script>
